@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model System.Data.DataTable;
<p>@ViewBag.Data</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Country ID</th>
            <th scope="col">Country Name</th>
            <th scope="col">Country Code</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                <th scope="row">@row["CountryID"]</th>
                <td>@row["CountryName"]</td>
                <td>@row["CountryCode"]</td>
                <td>@row["Created"]</td>
                <td>@row["Modified"]</td>
                <td>
                    <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="AddCountry">
                        <input type="hidden" name="CountryID" value="@Convert.ToInt32(row["CountryID"])" />
                        <button type="submit" class="btn-warning">Edit</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="DeleteCountry">
                        <input type="hidden" name="CountryID" value="@Convert.ToInt32(row["CountryID"])" />
                        <button type="submit" class="btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>